@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Curso desarrollo Web</p><br />
    <p style="color:gold; font-size:50px"><b>Guilmar Betico</b></p>
</div>
